.w25{
    width: 25%;
}
.w18{
    width: 18%;
}
.listCoupon{
    &.mb{
        border-bottom: 1px dotted #ff7d9b;
    }
    margin-top: 0.4rem;
    padding-bottom: 0.64rem;
    .Coupon{
        width: 4.43rem;
        height: 0.82rem;
        background: url(~@/assets/img/new/coupon-tag@2x.png) no-repeat;
        background-size: 100% 100%;
        margin: 0 auto;
    }
    .ticketList{
        position: relative;
        margin-top: -9px;
        z-index: -99;
        margin-bottom: 0.3rem;
        .txt{
            display: flex;
            color: #fff;
            .TopTxt{
                width: 2.87rem;
                min-height: 1.07rem;
                position: absolute;
                top: 0.24rem;
                left: 1.37rem;
                h3{
                    font-size: 0.3rem;
                    font-weight: bold;
                    margin:0;
                }
                .Time{
                    color: #fff;
                    margin-top: 0.14rem;
                    margin-bottom: 0.16rem;
                    border: 1px solid #fff;
                    height: 0.34rem;
                    font-size: 0.18rem;
                    text-align: center;
                }
                .store{
                    font-size: 0.18rem;
                }
            }
            .btn{
                width: 1.64rem;
                height: 0.54rem;
                display: inline-block;
                background: url(~@/assets/img/new/btn@2x.png) no-repeat;
                background-size: 100% 100%;
                right: 0.25rem;
                position: absolute;
                bottom: 0.22rem;
            }
          .btn_pickup{
            width: 1.64rem;
            height: 0.54rem;
            display: inline-block;
            background: url(~@/assets/img/new/btn@3x.png) no-repeat;
            background-size: 100% 100%;
            right: 0.25rem;
            position: absolute;
            bottom: 0.22rem;
          }
        }
    }
    .small-bg{
        width: 1.84rem;
        height: 0.68rem;
        background: url(~@/assets/img/new/small-arrow.png) no-repeat;
        background-size: 100% 100%;
    }
    .LookMore{
        width: 2.03rem;
        height: 0.74rem;
        background: url(~@/assets/img/new/more.png) no-repeat;
        background-size: 100% 100%;
        display: block;
        margin: 0 auto;
    }
    .Jdetail{
        background: url(~@/assets/img/new/Point-details.png) no-repeat;
        background-size: 100% 100%;
    }
    .ListInfo{
        margin-top: -9px;
        z-index: -99;
        position: relative;
        width: 100%;
        height: auto;
        border-radius: 3px;
        box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
        -webkit-box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
        .ListInfoHead{
            height: 36px;
            line-height: 36px;
            padding:0 8px;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background:#f6a4ad;
            align-items: center;
            span{
                color: #fff;
                font-size:0.24rem;
                text-align: center;
            }
        }
        .orderMainInfo{
            padding:0;
            margin:0;
            padding: 0 8px;
            li{
                width: 100%;
                height: 0.66rem;
                line-height: 0.66rem;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-content: center;
                background: #fff;
                border-bottom: 1px dotted #ff9ba3;
                span{
                    color: #535353;
                    font-size:0.24rem;
                    text-align: center;
                }
            }
            li:last-child{
                border-bottom: none;
            }
        }
    }
    .LookDetail{
        width: 2.03rem;
        height: 0.74rem;
        background: url(~@/assets/img/new/btn-detail.png) no-repeat;
        background-size: 100% 100%;
        display: block;
        margin: 0 auto;
        margin-top: 0.31rem;
        margin-bottom: 0.7rem;
    }
    .snow{
        width: 1.49rem;
        height: 0.87rem;
        background: url(~@/assets/img/new/snow@2x.png) no-repeat;
        background-size: 100% 100%;
    }
}

